In [10]:
import pandas as pd

## Reading data with Python

In [12]:
url = 'https://raw.githubusercontent.com/amishraUMBC/690-01/main/Assignment_05/btc-market-price.csv'
df = pd.read_csv(url)

In [14]:
df.head()

   2/4/17 0:00  1099.169125
0  3/4/17 0:00     1141.813
1  4/4/17 0:00            ?
2  5/4/17 0:00  1133.079314
3  6/4/17 0:00            -
4  7/4/17 0:00            -

In [16]:
df = pd.read_csv('https://raw.githubusercontent.com/amishraUMBC/690-01/main/Assignment_05/btc-market-price.csv', header=None)

In [18]:
df = pd.read_csv('https://raw.githubusercontent.com/amishraUMBC/690-01/main/Assignment_05/btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'])

In [19]:
df.head()

             0            1
0  2/4/17 0:00  1099.169125
1  3/4/17 0:00  1141.813000
2  4/4/17 0:00          NaN
3  5/4/17 0:00  1133.079314
4  6/4/17 0:00          NaN

In [20]:
df = pd.read_csv('https://raw.githubusercontent.com/amishraUMBC/690-01/main/Assignment_05/btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'],
                 names=['Timestamp', 'Price'])

In [21]:
df.head()

     Timestamp        Price
0  2/4/17 0:00  1099.169125
1  3/4/17 0:00  1141.813000
2  4/4/17 0:00          NaN
3  5/4/17 0:00  1133.079314
4  6/4/17 0:00          NaN

In [22]:
df = pd.read_csv('https://raw.githubusercontent.com/amishraUMBC/690-01/main/Assignment_05/btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'],
                 names=['Timestamp', 'Price'],
                 dtype={'Price': 'float'})

In [23]:
df.head()

     Timestamp        Price
0  2/4/17 0:00  1099.169125
1  3/4/17 0:00  1141.813000
2  4/4/17 0:00          NaN
3  5/4/17 0:00  1133.079314
4  6/4/17 0:00          NaN

In [24]:
df.dtypes

Timestamp     object
Price        float64
dtype: object

In [25]:
pd.to_datetime(df['Timestamp']).head()

0   2017-02-04
1   2017-03-04
2   2017-04-04
3   2017-05-04
4   2017-06-04
Name: Timestamp, dtype: datetime64[ns]

In [26]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [27]:
df.head()

   Timestamp        Price
0 2017-02-04  1099.169125
1 2017-03-04  1141.813000
2 2017-04-04          NaN
3 2017-05-04  1133.079314
4 2017-06-04          NaN

In [28]:
df.dtypes

Timestamp    datetime64[ns]
Price               float64
dtype: object

In [29]:
df = pd.read_csv('https://raw.githubusercontent.com/amishraUMBC/690-01/main/Assignment_05/btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'],
                 names=['Timestamp', 'Price'],
                 dtype={'Price': 'float'},
                 parse_dates=[0])

In [30]:
df.head()

   Timestamp        Price
0 2017-02-04  1099.169125
1 2017-03-04  1141.813000
2 2017-04-04          NaN
3 2017-05-04  1133.079314
4 2017-06-04          NaN