<a href="https://colab.research.google.com/github/amishraUMBC/690-01/blob/main/Assignment_08/Assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
from google.colab import files
uploaded = files.upload()

Saving census_costs.txt to census_costs (1).txt

In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('census_costs.txt', skiprows=1, sep="\t")
df.head(3)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents

In [28]:
df.shape

(23, 4)

In [29]:
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [30]:
df.tail(10)

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [31]:
df.sample(10)

   Census Year Total Population   Census Cost Average Cost Per Person
12        1910       91,972,266   $15,968,000             17.07 cents
8         1870       38,558,371    $3,421,198              8.87 cents
21        2000      281,421,906  $4.5 Billion                  $15.99
15        1940      131,669,275   $67,527,000             51.29 cents
0         1790        3,929,214       $44,377              1.13 cents
13        1920      105,710,620   $25,117,000             23.76 cents
3         1820        9,633,822      $208,526              2.16 cents
14        1930      122,775,046   $40,156,000             32.71 cents
16        1950      151,325,798   $91,462,000             60.44 cents
6         1850       23,191,876    $1,423,351              6.14 cents

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

In [33]:
df.describe()

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

In [34]:
def filter_data(b_string):
  return int(b_string.replace(',', ''))

df['Tot Pop'] = df['Total Population'].apply(filter_data)
df

,Census Year,Total Population,Census Cost,Average Cost Per Person,Tot Pop
0,1790,"3,929,214","$44,377",1.13 cents,3929214
1,1800,"5,308,483","$66,109",1.24 cents,5308483
2,1810,"7,239,881","$178,445",2.46 cents,7239881
3,1820,"9,633,822","$208,526",2.16 cents,9633822
4,1830,"12,866,020","$378,545",2.94 cents,12866020
5,1840,"17,069,458","$833,371",4.88 cents,17069458
6,1850,"23,191,876","$1,423,351",6.14 cents,23191876
7,1860,"31,443,321","$1,969,377",6.26 cents,31443321
8,1870,"38,558,371","$3,421,198",8.87 cents,38558371
9,1880,"50,155,783","$5,790,678",11.54 cents,50155783
10,1890,"62,979,766","$11,547,127",18.33 cents,62979766
11,1900,"76,303,387","$11,854,000",15.54 cents,76303387
12,1910,"91,972,266","$15,968,000",17.07 cents,91972266
13,1920,"105,710,620","$25,117,000",23.76 cents,105710620
14,1930,"122,775,046","$40,156,000",32.71 cents,122775046
15,1940,"131,669,275","$67,527,000",51.29 cents,131669275
16,1950,"151,325,798","$91,462,000",60.44 cents,151325798
17,1960,"179,323,175","$127,934,000",71.34 cents,179323175
18,1970,"203,302,031","$247,653,000",$1.22,203302031
19,1980,"226,542,199","$1,078,488,000",$4.76,226542199
20,1990,"248,718,301","$2,492,830,000",$10.02,248718301
21,2000,"281,421,906",$4.5 Billion,$15.99,281421906
22,2010*,"308,745,538",$13 Billion,$42.11,308745538

In [35]:
df['Census Year'].dtype

dtype('O')

In [36]:
import pandas as pd
from datetime import datetime

def filter_data(b_string):
  return int(b_string.replace('2010*', '2010'))

df['Census_Year'] = df['Census Year'].apply(filter_data)

In [37]:

df['Census Cost']= df['Census Cost'].replace('$13 Billion', '1300000000')

In [38]:
df['Census Cost']= df['Census Cost'].replace('$4.5 Billion', '4500000000')

In [39]:
def filter_data(b_string):
  return int(b_string.replace(',', '').replace('$', ''))

df['Census Cost1'] = df['Census Cost'].apply(filter_data)
df

,Census Year,Total Population,Census Cost,Average Cost Per Person,Tot Pop,Census_Year,Census Cost1
0,1790,"3,929,214","$44,377",1.13 cents,3929214,1790,44377
1,1800,"5,308,483","$66,109",1.24 cents,5308483,1800,66109
2,1810,"7,239,881","$178,445",2.46 cents,7239881,1810,178445
3,1820,"9,633,822","$208,526",2.16 cents,9633822,1820,208526
4,1830,"12,866,020","$378,545",2.94 cents,12866020,1830,378545
5,1840,"17,069,458","$833,371",4.88 cents,17069458,1840,833371
6,1850,"23,191,876","$1,423,351",6.14 cents,23191876,1850,1423351
7,1860,"31,443,321","$1,969,377",6.26 cents,31443321,1860,1969377
8,1870,"38,558,371","$3,421,198",8.87 cents,38558371,1870,3421198
9,1880,"50,155,783","$5,790,678",11.54 cents,50155783,1880,5790678
10,1890,"62,979,766","$11,547,127",18.33 cents,62979766,1890,11547127
11,1900,"76,303,387","$11,854,000",15.54 cents,76303387,1900,11854000
12,1910,"91,972,266","$15,968,000",17.07 cents,91972266,1910,15968000
13,1920,"105,710,620","$25,117,000",23.76 cents,105710620,1920,25117000
14,1930,"122,775,046","$40,156,000",32.71 cents,122775046,1930,40156000
15,1940,"131,669,275","$67,527,000",51.29 cents,131669275,1940,67527000
16,1950,"151,325,798","$91,462,000",60.44 cents,151325798,1950,91462000
17,1960,"179,323,175","$127,934,000",71.34 cents,179323175,1960,127934000
18,1970,"203,302,031","$247,653,000",$1.22,203302031,1970,247653000
19,1980,"226,542,199","$1,078,488,000",$4.76,226542199,1980,1078488000
20,1990,"248,718,301","$2,492,830,000",$10.02,248718301,1990,2492830000
21,2000,"281,421,906",4500000000,$15.99,281421906,2000,4500000000
22,2010*,"308,745,538",1300000000,$42.11,308745538,2010,1300000000

In [40]:
def filter_data(b_string):
  return float(b_string.replace(' cents', '').replace('$', ''))

df['Average Cost Per Person1'] = df['Average Cost Per Person'].apply(filter_data)
df

,Census Year,Total Population,Census Cost,Average Cost Per Person,Tot Pop,Census_Year,Census Cost1,Average Cost Per Person1
0,1790,"3,929,214","$44,377",1.13 cents,3929214,1790,44377,1.13
1,1800,"5,308,483","$66,109",1.24 cents,5308483,1800,66109,1.24
2,1810,"7,239,881","$178,445",2.46 cents,7239881,1810,178445,2.46
3,1820,"9,633,822","$208,526",2.16 cents,9633822,1820,208526,2.16
4,1830,"12,866,020","$378,545",2.94 cents,12866020,1830,378545,2.94
5,1840,"17,069,458","$833,371",4.88 cents,17069458,1840,833371,4.88
6,1850,"23,191,876","$1,423,351",6.14 cents,23191876,1850,1423351,6.14
7,1860,"31,443,321","$1,969,377",6.26 cents,31443321,1860,1969377,6.26
8,1870,"38,558,371","$3,421,198",8.87 cents,38558371,1870,3421198,8.87
9,1880,"50,155,783","$5,790,678",11.54 cents,50155783,1880,5790678,11.54
10,1890,"62,979,766","$11,547,127",18.33 cents,62979766,1890,11547127,18.33
11,1900,"76,303,387","$11,854,000",15.54 cents,76303387,1900,11854000,15.54
12,1910,"91,972,266","$15,968,000",17.07 cents,91972266,1910,15968000,17.07
13,1920,"105,710,620","$25,117,000",23.76 cents,105710620,1920,25117000,23.76
14,1930,"122,775,046","$40,156,000",32.71 cents,122775046,1930,40156000,32.71
15,1940,"131,669,275","$67,527,000",51.29 cents,131669275,1940,67527000,51.29
16,1950,"151,325,798","$91,462,000",60.44 cents,151325798,1950,91462000,60.44
17,1960,"179,323,175","$127,934,000",71.34 cents,179323175,1960,127934000,71.34
18,1970,"203,302,031","$247,653,000",$1.22,203302031,1970,247653000,1.22
19,1980,"226,542,199","$1,078,488,000",$4.76,226542199,1980,1078488000,4.76
20,1990,"248,718,301","$2,492,830,000",$10.02,248718301,1990,2492830000,10.02
21,2000,"281,421,906",4500000000,$15.99,281421906,2000,4500000000,15.99
22,2010*,"308,745,538",1300000000,$42.11,308745538,2010,1300000000,42.11

In [41]:
df = df[['Census_Year', 'Tot Pop', 'Census Cost1', 'Average Cost Per Person1']]
df

    Census_Year    Tot Pop  Census Cost1  Average Cost Per Person1
0          1790    3929214         44377                      1.13
1          1800    5308483         66109                      1.24
2          1810    7239881        178445                      2.46
3          1820    9633822        208526                      2.16
4          1830   12866020        378545                      2.94
5          1840   17069458        833371                      4.88
6          1850   23191876       1423351                      6.14
7          1860   31443321       1969377                      6.26
8          1870   38558371       3421198                      8.87
9          1880   50155783       5790678                     11.54
10         1890   62979766      11547127                     18.33
11         1900   76303387      11854000                     15.54
12         1910   91972266      15968000                     17.07
13         1920  105710620      25117000                     23.76
14         1930  122775046      40156000                     32.71
15         1940  131669275      67527000                     51.29
16         1950  151325798      91462000                     60.44
17         1960  179323175     127934000                     71.34
18         1970  203302031     247653000                      1.22
19         1980  226542199    1078488000                      4.76
20         1990  248718301    2492830000                     10.02
21         2000  281421906    4500000000                     15.99
22         2010  308745538    1300000000                     42.11

In [42]:
df.describe(include="all")

       Census_Year       Tot Pop  Census Cost1  Average Cost Per Person1
count      23.0000  2.300000e+01  2.300000e+01                 23.000000
mean     1900.0000  1.039211e+08  4.358630e+08                 17.921739
std        67.8233  9.622629e+07  1.066884e+09                 20.200432
min      1790.0000  3.929214e+06  4.437700e+04                  1.130000
25%      1845.0000  2.013067e+07  1.128361e+06                  3.850000
50%      1900.0000  7.630339e+07  1.185400e+07                 10.020000
75%      1955.0000  1.653245e+08  1.096980e+08                 21.045000
max      2010.0000  3.087455e+08  4.500000e+09                 71.340000

In [43]:
import plotly.express as px

In [44]:
fig = px.bar(
    data_frame=df,
    title="average cost per person over time",
    orientation="v",
    x="Census_Year",
    y="Average Cost Per Person1"
)

fig.update_xaxes(tickangle=45)

fig.show()

In [45]:
fig = px.scatter(
    data_frame=df,
    title="Total Population vs Total Cost",
    orientation="v",
    x="Tot Pop",
    y="Census Cost1",
    template = 'plotly_dark'
)

fig.update_xaxes(tickangle=45)

fig.show()